<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}?v=4" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="particles-socials">
      {% if site.profile.instagram %}
      <a class="particles-icon" href="{{ site.profile.instagram }}">{% include svg/instagram.svg %}</a>
      {% endif %}
      {% if site.profile.line %}
      <a class="particles-icon" href="{{ site.profile.line }}" title="加入 LINE @663vuceb"><img class="line-icon" src="{{ '/assets/files/line-icon.png' | relative_url }}" alt="加入 LINE"></a>
      {% endif %}
      {% if site.author.email %}
      <a class="particles-icon" href="mailto:{{ site.author.email }}">{% include svg/mail.svg %}</a>
      {% endif %}
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
